<h4>Exemplo 1.1</h4>
<div fxLayout="row">
  <mat-card fxFlex class="blue">Elemento 1</mat-card>
  <mat-card fxFlex class="red">Elemento 2</mat-card>
  <mat-card fxFlex class="green">Elemento 3</mat-card>
</div>

<h4>Exemplo 1.2</h4>
<div fxLayout="column">
  <mat-card fxFlex class="blue">Elemento 1</mat-card>
  <mat-card fxFlex class="red">Elemento 2</mat-card>
  <mat-card fxFlex class="green">Elemento 3</mat-card>
</div>

<h4>Exemplo 1.3</h4>
<div fxLayout="row wrap">
  <mat-card fxFlex="200px" class="blue">Elemento 1</mat-card>
  <mat-card fxFlex="200px" class="red">Elemento 2</mat-card>
  <mat-card fxFlex="200px" class="green">Elemento 3</mat-card>
</div>

<h4>Exemplo 1.4</h4>
<div fxLayout="row wrap">
  <mat-card fxFlex="0 1 50%" class="blue">Elemento 1</mat-card>
  <mat-card fxFlex="0 1 50%" class="red">Elemento 2</mat-card>
  <mat-card fxFlex="0 1 50%" class="green">Elemento 3</mat-card>
</div>