<!-- Sem Layout -->
<!-- <mat-form-field appearance="outline">
  <mat-label>Usuário</mat-label>
  <input matInput>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Senha</mat-label>
  <input matInput type="password">
</mat-form-field>

<button mat-raised-button color="primary">
  Entrar
</button> -->

<div fxLayout fxLayoutAlign="center center" class="container">
  <div fxFlex="0 1 300px" fxLayout="column" class="login-box">
    <mat-form-field appearance="outline" fxFlex="0 1 auto">
      <mat-label>Usuário</mat-label>
      <input matInput>
    </mat-form-field>
    
    <mat-form-field appearance="outline" fxFlex>
      <mat-label>Senha</mat-label>
      <input matInput type="password">
    </mat-form-field>
    
    <button mat-raised-button color="primary" fxFlex>
      Entrar
    </button>
  </div>
</div>