<div class="carteira">

  <div gdAreas="logo titulo titulo | logo subtitulo foto | conteudo conteudo foto | rodape rodape rodape"
       gdRows="50px 30px 100px 60px" gdColumns="80px 250px 100px">
  
    <div gdArea="logo" class="logo">
      <div>Logo</div>
    </div>
    <div gdArea="titulo" class="titulo">
      <div>Título</div>
    </div>
    <div gdArea="subtitulo" class="subtitulo">
      <div>Subtítulo</div>
    </div>
    <div gdArea="foto" class="foto">
      <div>Foto</div>
    </div>
    <div gdArea="conteudo"  class="conteudo">
      <div>Conteúdo</div>
    </div>
    <div gdArea="rodape" class="rodape">
      <div>Rodapé</div>
    </div>
  
  </div>

</div>
